# EmailJS Configuration
# Get your credentials at https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID="service_y7weh04";
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID="template_s3iy1zc";
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="3O8IhvWn9sYtAFB_d";
